<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>О должнике</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <div th:insert="parts/header :: head"></div>
</head>
<header th:insert="parts/menu :: navbar"></header>
<body>
<style>
</style>
<h3>Информация о должнике:</h3>
<div class="text-left" size="18">
    <span th:text="${person.firstName}"></span> <span th:text="${person.middleName}"></span>, год рождения <span th:text="${person.birthDate}"></span>, обратился в банк с целью получить кредит. Первые три месяца оплата проходила в срок. На данный момент накопилась сумма долга в <span th:text="${person.debtAmount}"></span> рублей. Клиент, по его словам, сейчас не способен производить оплату.
    <div>В случае необходимости звонить по номеру <span th:text="${person.phone}"></span></div>
</div>
<div>
</div>
<h3>Список документов должника:</h3>
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>УИ документа</th>
            <th>Серия</th>
            <th>Номер</th>
            <th>Тип документа</th>
        </tr>
        <tr>
            <td th:text="${document.docId}"></td>
            <td th:text="${document.series}"></td>
            <td th:text="${document.numeral}"></td>
            <td th:text="${document.typeCode.name}"></td>
        </tr>
    </table>
</div>
<h3>Карты должника:</h3>
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>УИ карты</th>
            <th>Номер</th>
            <th>Срок действия(месяц)</th>
            <th>Срок действия(год)</th>
            <th>CCV</th>
            <th>Тип карты</th>
        </tr>
        <tr>
            <td th:text="${card.cardId}"></td>
            <td th:text="${card.number}"></td>
            <td th:text="${card.expiryMonth}"></td>
            <td th:text="${card.expiryYear}"></td>
            <td th:text="${card.ccv}"></td>
            <td th:text="${card.cardType}"></td>
        </tr>
    </table>
</div>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<footer th:insert="parts/footer :: footer"></footer>
</body>
</html>