<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/1">
            <img src="/templates/image/TeeChart.png" alt="" width="30" height="24">
            Egar tech
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/document-register">Документы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/persons-search">Должники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dict-document-type">Справочники</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/credit-card">Карты</a>
                </li>
            </ul>
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-outline-success" type="submit">Выйти</button>
            </form>
        </div>
    </div>
</nav>